################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOPs/.vs
/FileHandling/.vs/FileHandling/FileContentIndex/486f3194-f234-492d-9698-aedc04658b6a.vsidx
